{:paths ["src" "resources"]
 :deps  {org.clojure/clojure            {:mvn/version "1.11.1"}
         org.clojure/core.async         {:mvn/version "1.6.673"}
         club.donutpower/system         {:mvn/version "0.0.165"}
         aero/aero                      {:mvn/version "1.1.6"}
         info.sunng/ring-jetty9-adapter {:mvn/version "0.18.1"}
         ch.qos.logback/logback-classic {:mvn/version "1.4.5"}
         org.slf4j/slf4j-api            {:mvn/version "2.0.5"}
         metosin/reitit                 {:mvn/version "0.6.0"}
         metosin/reitit-malli           {:git/url "https://github.com/fluree/reitit.git"
                                         :git/sha "8357e76462704eee82d75d22ba69cb316d5dc866"
                                         :deps/root "modules/reitit-malli"}
         metosin/reitit-swagger         {:git/url "https://github.com/fluree/reitit.git"
                                         :git/sha "8357e76462704eee82d75d22ba69cb316d5dc866"
                                         :deps/root "modules/reitit-swagger"}
         metosin/muuntaja               {:mvn/version "0.6.8"}
         metosin/malli                  {:git/url "https://github.com/fluree/malli.git"
                                         :git/sha "58f7e067e3742b0bc9b9c2669aa35d54de247e25"}
         ring-cors/ring-cors            {:mvn/version "0.1.13"}
         com.fluree/db                  {:git/url "https://github.com/fluree/db.git"
                                         :git/sha "b68662319fbdbe5f68c60409ab26db2e36aa1b08"}}

 :aliases
 {:dev
  {:extra-paths ["dev/src" "test"]
   :extra-deps  {com.nextjournal/beholder    {:mvn/version "1.0.0"}
                 org.clojure/tools.namespace {:mvn/version "1.1.0"}
                 ring/ring-mock              {:mvn/version "0.4.0"}}}

  :build
  {:deps       {io.github.seancorfield/build-clj
                {:git/tag "v0.8.5" :git/sha "de693d0"}}
   :ns-default build}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.77.1236"}
                 clj-http/clj-http   {:mvn/version "3.12.3"}}
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {}}

  :run-dev
  {:exec-fn   fluree.http-api.system/run-server
   :exec-args {:profile :dev}}}}
