{:paths ["src" "resources"]
 :deps  {org.clojure/clojure            {:mvn/version "1.11.1"}
         org.clojure/core.async         {:mvn/version "1.6.673"}
         club.donutpower/system         {:mvn/version "0.0.165"}
         aero/aero                      {:mvn/version "1.1.6"}
         info.sunng/ring-jetty9-adapter {:mvn/version "0.21.0"}
         ch.qos.logback/logback-classic {:mvn/version "1.4.7"}
         org.slf4j/slf4j-api            {:mvn/version "2.0.7"}
         metosin/reitit                 {:mvn/version "0.6.0"}
         metosin/muuntaja               {:mvn/version "0.6.8"}
         metosin/malli                  {:mvn/version "0.11.0"}
         ring-cors/ring-cors            {:mvn/version "0.1.13"}
         com.fluree/db                  {:git/url "https://github.com/fluree/db.git"
                                         :git/sha "8c6a240e036736936250235346fa92f69f809b3c"}}

 :aliases
 {:dev
  {:extra-paths ["dev/src" "test"]
   :extra-deps  {com.nextjournal/beholder    {:mvn/version "1.0.2"}
                 org.clojure/tools.namespace {:mvn/version "1.4.4"}
                 ring/ring-mock              {:mvn/version "0.4.0"}}}

  :build
  {:deps       {io.github.seancorfield/build-clj
                {:git/tag "v0.9.2" :git/sha "9c9f078"}}
   :ns-default build}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.83.1314"}
                 clj-http/clj-http   {:mvn/version "3.12.3"}}
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {}}

  :run-dev
  {:exec-fn   fluree.http-api.system/run-server
   :exec-args {:profile :dev}}}}
